.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .05), 0 8px 16px 0 rgba(0, 0, 0, .1)!important;
    border-radius: 16px;
    margin-top: 5%;

  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; 
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
    font-size: 14px;
    margin: 0;
    padding-bottom: 12px;
    /* padding: 5px 10px 5px 12px; */

}
.received_withd_msg h3{
    color: black;
    font-size: 14px;
}
.received_withd_msg button{
    background: #fcfcfc;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 6px;
}
.received_withd_msg .btn-container{
    height: 118px;
    overflow-y: scroll;
}

/* width */
.btn-container::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .btn-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  /* Handle */
  .btn-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .btn-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .no-padding {
      padding: 0px!important;
  }
  .padding-17{
    padding: 17px;
  }
  .received_withd_msg img{
    height: 412px;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}
.received_withd_msg {
    margin-bottom: 12px;
    padding: 17px;
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 14px;
    color: #646464;
    width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 50%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}

 .sent_msg p {
    background: rgb(10, 124, 255) none repeat scroll 0 0;
  border-radius: 14px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: rgb(10, 124, 255) none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}
.font-bold{
    font-weight: bold!important;
}
.no-margin-bottom{
    margin-bottom: 0px;
}
.font-small {
    font-size: 12px;
}
.padding-top-12{
    padding-top: 12px;
}
.full-width {
    width: 100%!important;
}
.bg-transparent{
    background: transparent!important;
}
.chat-btn{
    border-radius: 20px!important;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .05), 0 8px 16px 0 rgba(0, 0, 0, .1)!important;
}
.width-29{
    width: 29%;
}

@media(max-width:1034px){
    .width-29{
        width: 40%;
    }
    .received_withd_msg img {
        height: 100%;
    }
}
@media(max-width:760px){
    .width-29{
        width: 50%;
    }
    .received_withd_msg img {
        height: 100%;
    }
}